[Interface]
Address = {{ value.address }}/32
PrivateKey = {{ value.privateKey }}

[Peer]
PublicKey = {{ value.publicKey }}
AllowedIPs = {{ value.allowIPs }}
Endpoint = {{ value.serverIP }}:{{ value.serverPort }}
PersistentKeepalive = 30